body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.container__header {
    width: 100%;
    border-bottom: 1px solid #EFEFEF
}
.header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
}
.header__navigation {
    height: 50px;
}

.header__navigation li {
    display: inline;
    margin-right: 30px;
}
.header__navigation a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
}

.header__bottom {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.header__bottom span {
    margin-right: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.header__bottom button {
    width: 170px;
    height: 40px;
    left: 1345px;
    top: 90px;

    background: #FFFFFF;

    border: 2px solid #66C05D;
    border-radius: 40px;
}



.categories__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79px;
    margin: 0;
}

.categories__list li {
    display: inline;
    margin-right: 40px;
}

.categories__list a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
}

.sale__container {
    height: 604px;
    border: 1px solid white;
}
.sale__content {
    height: 604px;
    max-width: 1110px;
    margin: 0 auto;
}

.sale__text {
    margin-top: 192px;
    width: 380px;
}

.sale__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;
}

.sale__descr {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.sale__text button {
    width: 170px;
    height: 40px;
    margin-top: 50px;

    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
}
.sale__text button:hover {
    cursor: pointer;
}

.sale__content img {
    position: relative;
    right: 450px;
    bottom: 430px;
    z-index: -2;
}

.special-offer {
    background-color: #EFEFEF;
}

.special-offer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #EFEFEF;
    height: 610px;
    background-color: #EFEFEF;
    max-width: 1110px;
    margin: 0 auto;
}

.special-offer h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.special-offer__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.special-offer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.special-offer__dscrp {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #333333;
}
.special-offer__price {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 20px;

    color: #000000;
}

.special-offer__item button {
    width: 130px;
    height: 35px;
    left: 467px;
    top: 1303px;

    background: #66C05D;
    border: transparent;
    border-radius: 30px;
    color: #FFFFFF;
}

.special-offer__item button:hover {
    cursor: pointer;
}

.special-offer li {
    height: 363px;
    width: 255px;
    background-color: #FFFFFF;
}

.special-offer__img {
    height: 166px;
    width: 125px;
}

.cta__wrapper {
    display: flex;
    justify-content: space-between;
    height: 344px;
    background-color: #EFEFEF;
}

.cta__wrapper div {
    width: 540px;
    height: 212px;
    background-color: #66C05D;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__top li {
    display: inline;
    margin-right: 5px;
}


.footer__bottom {
    display: flex;
    justify-content: space-between;
    background-color: #EFEFEF;
}


