body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.container__header {
    width: 100%;
    border-bottom: 1px solid #EFEFEF
}
.header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
}
.header__navigation {
    height: 50px;
}

.header__navigation li {
    display: inline;
    margin-right: 30px;
}
.header__navigation a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
}

.header__bottom {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.back-call span {
    margin-right: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.back-call button {
    width: 170px;
    height: 40px;
    left: 1345px;
    top: 90px;

    background: #FFFFFF;

    border: 2px solid #66C05D;
    border-radius: 40px;
}
.back-call button:hover {
    cursor: pointer;
}

.categories__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79px;
    margin: 0;
}

.categories__list li {
    display: inline;
    margin-right: 40px;
}

.categories__list a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
}

.sale__container {
    height: 604px;
    border: 1px solid white;
}
.sale__content {
    height: 604px;
    max-width: 1110px;
    margin: 0 auto;
}

.sale__text {
    margin-top: 192px;
    width: 380px;
}

.sale__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;
}

.sale__descr {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.sale__text button {
    width: 170px;
    height: 40px;
    margin-top: 50px;

    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
}
.sale__text button:hover {
    cursor: pointer;
}

.sale__content img {
    position: relative;
    right: 450px;
    bottom: 430px;
    z-index: -2;
}

.special-offer {
    background-color: #EFEFEF;
}

.special-offer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #EFEFEF;
    height: 610px;
    background-color: #EFEFEF;
    max-width: 1110px;
    margin: 0 auto;
}

.special-offer__top {
    display: flex;
    justify-content: space-between;
}

.special-offer h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.special-offer__car {
    width: 190px;
    height: 80px;
}

.special-offer__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.special-offer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.special-offer__dscrp {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #333333;
}
.special-offer__price {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 20px;

    color: #000000;
}

.special-offer__item button {
    width: 130px;
    height: 35px;
    left: 467px;
    top: 1303px;

    background: #66C05D;
    border: transparent;
    border-radius: 30px;
    color: #FFFFFF;
}

.special-offer__item button:hover {
    cursor: pointer;
}

.special-offer li {
    height: 363px;
    width: 255px;
    background-color: #FFFFFF;
}

.special-offer__img {
    height: 166px;
    width: 125px;
}

.cta {
    background-color: #EFEFEF;
}

.cta__wrapper {
    display: flex;
    justify-content: space-between;
    height: 344px;
    background-color: #EFEFEF;
}

.cta__wrapper div {
    width: 470px;
    height: 140px;
    background-color: #66C05D;
}

.cta__bonus {
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

.cta__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cta__text h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-block-start: 0;
    margin-block-end: 0;

    color: #FFFFFF;
}

.cta__text p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}

.cta__text button {
    width: 130px;
    height: 35px;
    left: 467px;
    top: 1303px;

    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
}

.cta__email {
    height: 35px;
    width: 225px;
    border: transparent;
    background: #FFFFFF;
    border-radius: 30px;
}


.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__top li {
    display: inline;
    margin-right: 5px;
}

.footer__top span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.social__elipse {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #66C05D;
    background: transparent;
}

.social__youtube {
    position: relative;
    left: 12px;
    top: 15px
}

.social__vk {
    position: relative;
    left: 8px;
    top: 16px
}

.social__facebook {
    position: relative;
    left: 16px;
    top: 14px
}

.social__inst {
    position: relative;
    left: 12px;
    top: 12px
}

.footer__container {
    width: 100%;
    background-color: #EFEFEF;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    max-width: 1110px;
    margin: 0 auto;
}

.footer__bottom span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

@media (max-width: 1200px){
    .container{
        max-width: 970px;
    }

    .cta__wrapper{
        flex-direction: column;
        height: 444px;
        align-items: center;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 750px;
    }

    .header__navigation {
        height: 70px;
    }

    .sale__text {
        margin-left: 30px;
    }
    .special-offer__content {
        height: 900px;
    }
    .special-offer__list {
        flex-wrap: wrap;
    }
    .special-offer li {
        margin-top: 20px;
    }

    .cta__wrapper{
        flex-direction: column;
        height: 444px;
        align-items: center;
    }

    .footer__social {
        display: flex;
        flex-wrap: wrap;
    }

    .back-call span {
        display: none;
    }
}

@media (max-width: 767px){
    .container{
        max-width: none;
    }


    .sale__text {
        margin-left: 20px;
        height: 250px;
        width: 200px;
    }

    .sale__descr {
        color: #000000;
    }

    .sale__content img {
       position: relative;
        right: 750px;
    }

    .cta__wrapper{
        flex-direction: column;
        align-items: center;
        height: 444px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .special-offer__content {
        height: 1650px;
    }
    .special-offer__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    .footer__top {
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }

    .footer__top span {
        margin-bottom: 10px;
    }

    .footer__bottom {
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }

    .back-call span {
        display: none;
    }

    .back-call button {
        margin-bottom: 20px;
    }
}

@media (max-width: 450px){
    body {
        overflow-x: hidden;
    }
    .logo__text {
        display: none;
    }

    .sale__content img {
        position: relative;
        right: 810px;
    }

    .special-offer__top {
        margin-left: 30px;
    }
    .special-offer__car {
        display: none;
    }


    .cta__wrapper div{
        width: 300px;
    }
    .cta__icon {
        display: none;
    }

    .footer__top {
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }
}



